/* "Body Mass Index Calculator" header */

nav {
    padding: 60 px;
    text-align: center;
}

#stuff {
    padding: 60 px;
    text-align: center;
}

body.light {
    background-color: #f2f3f4;
    font-family: Garamond, serif;
}

h1.light {
    padding: 60 px;
    text-align: center;
}

p.light {
    color: #000;
}

body.dark {
    background-color: #000;
    font-family: Garamond, serif;
}

h1.dark {
    padding: 60 px;
    text-align: center;
    color: #fff;
}

p.dark {
    color: #fff;
}

p2.dark {
    color: #fff;
}

#inputs.dark {
    color: #fff;
}

input[type=number] {
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px 0;
    border: 2px solid #eee;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    width: 15%;
    margin: auto;
}

button {
    padding: 10px;
    border: none;
    background-color: #808080;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 10%;
}

#embed {
    height: 10px;
    width: 10px;
    margin: auto;
    padding: 35%;
}

#about {
    margin: auto;
    padding: 60px;
    text-align: center;
}

#bmi-formula {
    height: 30%;
    width: 30%;
}

h2.dark {
    padding: 60 px;
    text-align: center;
    color: #fff;
}